
/*
   Project1-3 style sheet
   Author: Rui Li
   Date: 2022/02/22  
   
   Filename: stylesheet_1_3
*/

/* HTML and Body Styles */
body {
	color: rgb(200, 100, 100);
	background-color: rgb(255, 200, 200);
	font-family: Verdana, Geneva, sans-serif;
}
/* Heading Styles */
header{
	background-color:yellow;
}
h1 {
	color: green;
	font-family: Quicksand, Verdana, Geneva, sans-serif;
	font-size: 1.7em;
}
h2 {
	font-size: 1.2em;
}

/* Navigation Styles */	
nav {
	font-family: Quicksand, Geneva, sans-serif;
	font-size: 1.0em;
}
nav > ul {
	line-height: 1.0em;
	list-style-type: none;
	padding-left:5px;
}

section {
	color:blue;
	background-color:orange;
	width:50%;
	font-size: 1.0em;
}

/* Footer Styles */
footer{
	background-color: rgb(222,128,60);
	text-align: center;
}

